html{
  background-color:lightblue;
}

h1{
  padding-top:100px;
}
.Title{
  padding-top:10px;
}

.SSS{

}

.Answer1{
  display:none;
  padding-top:50px;
}




.ASA{

}

.Answer2{
  display:none;
  padding-top:50px;
}




.SAS{
  
}


.Answer3{
  display:none;
  padding-top:50px;

}
